apiVersion: apps/v1
kind: Deployment
metadata:
  name: mywebapp-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mywebapp
  template:
    metadata:
      labels:
        app: mywebapp
    spec:
      containers:
      - name: mywebapp
        # Updated to match your DockerHub image
        image: udhay36232/devopss-client:latest
        ports:
        # This is your React app's port
        - containerPort: 3000
